<% layout('boilerplate') -%>
<div class="row my-2">
  <h1>Select Cat to Make Flyer For</h1>
  <div class="col-6">
    <form action="/tcc/flyers" method="post" class="form">
      <% for (let cat of data) { %>
      <input type="radio" name="selectedCat" id="<%= cat.id %>" class="form-check-input" value='{"name":"<%= cat.name %>","public_key":"<%= cat.organization_info.public_key %>"}'>
      <label for="<%= cat.name %>" class="form-label"><%= cat.name.slice(20) %> (<%= cat.organization_info.name %>)</label>
      <br />
      <% } %>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
  <div class="col-6">
    <h2><%= `There are ${adults.length} adults (older than 4 months) at the cafe: ` %></h2>
    <% for (let adult of adults) { %>
    <%- adult %>
    <% } %>
  </div>
</div>
</div>