<% layout('boilerplate') -%>
    <% try { %> 
    <div class="row card-row" >
      <% for (let cat of data) { %>
        <div class="col-sm-6 col-lg-3 mb-4">
          <img src="<%= cat.images[0].image ? cat.images[0].image.url : "https://c972d5be6d3bb1aba721.cdn6.editmysite.com/uploads/b/c972d5be6d3bb1aba7212c6919fb3035ad50bd02f14253ece5c803d30c75f9a1/TCC%20v1%20White%20Bg%201_1718382480.png?optimize=medium" %>" alt="<%= cat.name ? cat.name : "Cat" %> Image" srcset="" class="rounded-4 card-img-top">
          <div class="card my-1">
            <div class="card-body">
              <% if (cat.name && cat.name.length) { %> 
                <h4 class="card-title"><%= cat.display_name %></h4>
              <% } else { %>
              <% throw new Error() %>
              <% } %>
              <% // Add Cat Color Pattern
              let descriptivePattern = cat.pet_attributes.filter((attribute) => attribute.id === 36802)
              if (!descriptivePattern.value || descriptivePattern.value === "N/A") {
                  let patternString = []
                  if (cat.primary_color && cat.primary_color !== "N/A") {patternString.push(`${cat.primary_color}`)}
                  if (cat.secondary_color && cat.secondary_color !== "N/A") {patternString.push(`& ${cat.secondary_color}`)}
                  if (cat.tertiary_color && cat.tertiary_color !== "N/A") {patternString.push(`& ${cat.tertiary_color}`)}
                  if (cat.coat_pattern && cat.coat_pattern !== "N/A") {patternString.push(cat.coat_pattern)}
                  descriptivePattern = patternString.join(" ");
              } %>
              <% if(typeof cat.coat_pattern !== undefined) { %>
                <h5 class="card-subtitle"><%= descriptivePattern %></h5>
              <% } %>
              <ul>
                <li><%= cat.sex %></li>
                <% if(cat.numerical_age) { %>
                  <li>Age: <%= cat.numerical_age %></li>
                <% } else if (cat.date_of_birth) { %> 
                  <li>Birthday: <%= cat.date_of_birth %></li>
                <% } %>
                <li>Adoption Fee: $<%= cat.adoption_fee %></li>
              </ul>
              <div class="text-container">
                <% if (cat.age) { %>
                  <% if (cat.age === "Kitten") { %>
                    <p class="card-text kitten-room-invite">Come meet <%= cat.display_name %> in our <a href="https://TopekaCatCafe.as.me/kittenroom" target="_blank">Kitten Room</a>!</p>
                  <% } else { %> 
                    <p class="card-text cat-lounge-invite">Come meet <%= cat.display_name %> in our main <a href="https://TopekaCatCafe.as.me/catlounge" target="_blank">Cat Lounge</a>!</p>
                  <% } %>
                <% } %>
                <p class="card-text cat-description"><%= cat.pet_internal_notes ? cat.pet_internal_notes : defaultDescription %></p>
                <p class="card-text adoption-order mb-3">Make sure to either <a href="https://TopekaCatCafe.as.me/<%= cat.age === "Kitten" ? "kittenroom" : "catlounge" %>" target="_blank">schedule an appointment</a> or walk in to meet <%= cat.display_name %> before completing an adoption application!</p>
              </div>
              <ul>
                <li>
                  Gets along with Dogs: <%= cat.is_ok_with_other_dogs ? cat.is_ok_with_other_dogs : "Not Sure" %>
                </li>
                <li>
                  Gets along with Cats: <%= cat.is_ok_with_other_cats ? cat.is_ok_with_other_cats : "Not Sure" %>
                </li>
                <li>
                  Gets along with Children: <%= cat.is_ok_with_other_kids ? cat.is_ok_with_other_kids : "Not Sure" %>
                </li>
              </ul>
              <% if (cat.adoption_fee) { %> 
                <p class="adoption-fee-message"><%= cat.display_name %>'s Adoption Fee of $<%= cat.adoption_fee %> goes directly to <a href="<%= cat.organization_info.website ?  cat.organization_info.website : "https://teamkitten.org" %>"" target="_blank"><%= cat.organization_info.name ? cat.organization_info.name : "Team Kitten" %></a> to support their mission!</p>
              <% } %>
              <div class="row">
                <div class="col">
                  <% if (cat.age) { %>
                    <a href="https://TopekaCatCafe.as.me/<%= cat.age === "Kitten" ? "kittenroom" : "catlounge" %>" class="btn btn-dark" target="_blank">Schedule an Appointment</a>
                  <% } %>
                </div>
                <div class="col">
                  <% if (cat.adoption_form_id && cat.id && cat.name.length) { %> 
                    <a href="https://petstablished.com/adoptions/personal-information?application_type=Adopt&form_id=<%= cat.adoption_form_id %>&pet_id=<%= cat.id %>" class="btn btn-dark" target="_blank">Adopt <%= cat.display_name %></a>
                  <% } else { %>
                    <a href="https://petstablished.com/adoptions/personal-information?application_type=Adopt&form_id=57871" class="btn btn-dark"  target="_blank">Adopt This Cutie</a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <% } catch { %>
      <h1>There was an error displaying the page</h1><p>Please try again in a few seconds. If the issue persists, please visit <a href="https://teamkitten.org">Team Kitten</a> directly and contact admin@topekacatcafe.com</p> 
    <% }%>