<% layout('boilerplate') -%>
  <div class="flyer-body">
    <div class="row my-2">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row mb-2">
          <div class="col-2"></div>
          <div class="col-8 text-center">
            <h1>Meet <%= cat.name.slice(20) %></h1>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col">
            <img src="<%= cat.images[0].image.url %>" alt="" srcset="" style="width: 2.5in; height: 2.5in; border-radius: 50%">
          </div>
          <div class="col">
            <img src="" alt="" srcset="" style="width: 2.5in; height: 2.5in; border: 1px solid black; border-radius: 15%">
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h2>
              <% const descriptivePattern = cat.pet_attributes.filter((attribute) => attribute.id === 36802) %>
              <%= descriptivePattern[0].value != "N/A" ? descriptivePattern[0].value : `${cat.primary_color} ${cat.secondary_color} ${cat.tertiary_color} ${cat.coat_pattern}` %> <%= cat.sex %>
            </h2>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <p>
              <% if(typeof cat.numerical_age !== undefined) { %>
                Age: <%= cat.numerical_age %>
              <% } %>
            </p>
            <p><%= cat.pet_internal_notes %></p>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-6">
            <h5>OK With: </h5>
            <ul>
              <li>
                Dogs: <%= cat.is_ok_with_other_dogs %>
              </li>
              <li>
                Cats: <%= cat.is_ok_with_other_cats %>
              </li>
              <li>
                Children: <%= cat.is_ok_with_other_kids %>
              </li>
            </ul>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div id="outside-flyer" class="container">
    <a href="" class="btn btn-success" id="make-pdf-button">Generate Flyer</a>
  </div>